#section-1{
    margin:0px;
    padding:10px 0px;
    background-color: #FAFAFA;
}

.profile-container{
    width:180px;
    margin:30px auto;
    display: flex;
}

.dot-container{
    height:150px;
    display: flex;
    flex-direction: column-reverse;
}

.dot{
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color:#FFC831 ;
    display: inline-block;
}

.profile{
    width:150px;
    height:150px;
    border-radius: 50%;   
}

.profile > img{
    width:100%;
    border-radius: 50%;
    padding:3px;
    border:3px solid #FFC831;
}

.info-container{
    text-align: center;
    margin-bottom: 20px;
}

.name{
    color:#707070;
    font-family:'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 33px;
}

.title{
    color:#707070;
    font-family:'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 19px;
}

.contact-container{
    width:55%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
}

i.fas{
    color:#FFC831;
}

.icon-container{
    font-size: 18px;
}

.contact-text{
    font-family:'Open Sans', sans-serif;
    color:#A8A8A8;
}

.socialz{
    width:20%;
    margin:0 auto; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

i.fab{
    color:black;
    font-size: 24px;
}

.socialz > a:nth-child(2) > i{
    color:#0072b1;
}

.socialz > a:nth-child(3) > i{
    color:#4CAF50;
}

.summary{
    width:50%;
    margin:15px auto;
    text-align: center;
}

.summary > p{
    color:#A8A8A8;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.tech-stack{
    margin:40px 0;
}

.tech-stack-img{
    width:50%;
}

/********Section-2*************/
#section-2{
    margin:60px 0px;
}

.proficiencies{
    text-align: center;
    color:#707070;
    font-family:'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 38px;
}


.stick-img{
    width:100%;   
}

/************Section-3*********/

#section-3{
    background-color: #FECD55;
    padding:30px 0px;
}

/****************Section-4***********/

#section-4{
    padding:60px 10px;
}

.calendar-container{
    width:90%;
    margin:10px auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.calendar{
    width:90%;
    border:1px solid #E0E0E0;
    border-radius: 6px;
    padding:20px;
}

.cal-img{
    width:100%;
}

.progress-bar-container{
    margin:40px auto;
    width:100%;
    display:flex;
    justify-content: space-around;
}

.radical-bar{
    width:20%;
}

.hours{
    font-size: 42px;
    color:#707070
}

.hours-2{
    font-size: 24px;
    color:#9B9B9B;
}
/***************Media-queries**********/

@media screen and (max-width:1024px){
    .contact-container{
        width:60%;
    }

    .icon-container{
        font-size: 16px;
    }
}

@media screen and (max-width:768px){
    .contact-container{
        width:85%;
    }

    .icon-container{
        font-size: 15px;
    }
}